@use '@/styles/mixins.scss' as mixins;

.container_wrapper {
  padding: 0 105rem;
  margin-top: 40rem;

  @include mixins.tablet {
    padding: 0 16rem;
    margin-top: 20rem;
  }
}

.intro_wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  margin-top: -80rem;

  @include mixins.tablet {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15rem;
    margin-top: 0;
  }
}

.intro_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 30rem;
  position: relative;
  z-index: 10;

  h1 {
    b,
    span {
      @include mixins.font(800, 75rem, 125%);
    }

    color: var(--primaryDef);
  }

  span {
    @include mixins.font(400, 26rem, 125%);
  }

  button {
    margin-top: 80rem;
    margin-left: 0;

    span {
      @include mixins.font(400, 18rem, 125%);
    }
  }

  @include mixins.tablet {
    h1 {
      b,
      span {
        @include mixins.font(800, 38rem, 125%);
      }
    }

    span {
      @include mixins.font(400, 18rem, 125%);
    }

    button {
      margin-right: unset;
    }
  }

  @include mixins.phone {
    h1 {
      b,
      span {
        @include mixins.font(800, 30rem, 125%);
      }
    }
  }
}

.intro_image {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -255rem;
  width: 1300rem;
  height: auto;

  @include mixins.tablet {
    width: 100%;
    bottom: -30%;
    height: 350rem;
  }

  @include mixins.phone {
    bottom: -30%;
  }
}

.counts {
  margin-top: 140rem;
  position: relative;
  z-index: 10;

  article {
    width: 100%;
    background: var(--bgLight);

    ul {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      gap: 20rem;
      padding: 20rem 70rem;
    }
  }

  li {
    article {
      display: flex;
      flex-direction: column;
      gap: 15rem;
      align-items: center;
      padding: 20rem 30rem;

      h2 {
        position: relative;
        color: var(--primaryDef);
        overflow: hidden;

        span {
          opacity: 1;
          display: inline-block;
          transform: translateY(0);
        }
      }

      span {
        opacity: 0.75;
      }
    }
  }

  @include mixins.tablet {
    margin-top: 40rem;

    article {
      max-width: 500rem;
      margin-left: auto;
      margin-right: auto;

      ul {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        gap: 16rem;
        padding: 20rem;

        li {
          article {
            padding: 16rem;

            h2 {
              @include mixins.font(400, 30rem, 125%);
            }
          }
        }
      }
    }
  }
}

.manual_wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 80rem;
  position: relative;

  @include mixins.tablet {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    gap: 20rem;
  }
}

.manual_wrap {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  @include mixins.tablet {
    width: 100%;
    align-items: center;
  }
}

.manual_image {
  width: 850rem;
  height: auto;
  margin-top: auto;
  position: absolute;
  right: -95rem;
  top: -20rem;

  @include mixins.tablet {
    position: relative;
    width: 100%;
    height: 350rem;
    right: -20rem;
    top: auto;
  }
}

.manual_content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 30rem;
  width: 100%;
  margin-bottom: 40rem;

  span {
    display: inline-block;
    text-align: left;
  }

  @include mixins.tablet {
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    gap: 20rem;

    span {
      text-align: center;
    }
  }
}

.manual_list {
  width: 1000rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20rem;
  position: relative;
  z-index: 10;

  li {
    transform-style: preserve-3d;
    perspective: 1000px;

    article {
      width: 100%;
      height: 100%;
      padding: 20rem;
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      gap: 20rem;
      backface-visibility: hidden;
      transform: translateZ(0);
      will-change: transform;
      background: var(--bgLight);
    }

    h4 {
      @include mixins.font(700, 22rem, 125%);

      b {
        color: var(--primaryDef);
        display: inline-block;
        transform-origin: center;
      }
    }

    &:first-child {
      grid-column-start: 1;
      grid-column-end: 3;

      h4 {
        @include mixins.font(700, 38rem, 125%);

        b {
          display: inline-block;
          transform-origin: center;
        }
      }

      div:nth-child(2) {
        span {
          @include mixins.font(400, 18rem, 125%);
        }
      }
    }
  }

  @include mixins.tablet {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    gap: 16rem;

    li {
      display: flex;
      align-content: stretch;
      height: auto;
      max-width: 305rem;
      transform-style: preserve-3d;
      perspective: 1000px;
      cursor: pointer;

      article {
        padding: 16rem;
        backface-visibility: hidden;
        transform: translateZ(0);
        will-change: transform;
      }

      h4 {
        @include mixins.font(700, 20rem, 125%);

        b {
          display: inline-block;
          transform-origin: center;
        }
      }

      div:nth-child(2) {
        span {
          @include mixins.font(400, 16rem, 125%);
        }
      }

      &:first-child {
        grid-column-start: unset;
        grid-column-end: unset;

        h4 {
          @include mixins.font(700, 20rem, 125%);

          b {
            display: inline-block;
            transform-origin: center;
          }
        }

        div:nth-child(2) {
          span {
            @include mixins.font(400, 16rem, 125%);
          }
        }
      }
    }
  }
}

.start_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30rem;

  h1 {
    text-align: center;
  }

  @include mixins.tablet {
    gap: 20rem;

    article {
      width: 100%;
      max-width: 500rem;
      margin-left: auto;
      margin-right: auto;
    }
  }
}

.start_wrap {
  display: flex;
  width: 100%;
  padding: 20rem 40rem;

  li {
    button {
      padding: 20rem 30rem;
      width: 350rem;
      height: auto;
      position: relative;
      align-items: flex-end;
      justify-content: flex-start;
      text-align: left;
      height: 100%;

      span {
        @include mixins.font(500, 20rem, 100%);
        width: 100rem;
        margin-right: 0;
      }

      svg {
        position: absolute;
        top: 20rem;
        right: 30rem;
        width: 50rem;
        height: 50rem;
      }
    }
  }

  @include mixins.tablet {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20rem;
    padding: 20rem;

    li {
      button {
        align-items: center;
        justify-content: center;
        max-width: 300rem;
        width: 100%;
        padding: 16rem;

        span {
          display: inline-block;
          width: auto;
          @include mixins.font(500, 16rem, 100%);
        }

        svg {
          position: relative;
          top: unset;
          right: unset;
          width: 24rem;
          height: 24rem;
        }
      }
    }
  }
}

.start_list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20rem;
  margin-right: 20rem;
  width: 1260rem;

  li {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    transform-style: preserve-3d;
    perspective: 1000px;

    article {
      padding: 20rem;
      padding-right: 100rem;
      display: flex;
      flex-direction: column;
      gap: 20rem;
      height: 100%;
    }

    strong {
      top: 20rem;
      right: 30rem;
      position: absolute;
      @include mixins.font(600, 55rem, 100%);
      color: var(--primaryDef);
    }
  }

  @include mixins.tablet {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 16rem;
    width: 100%;
    margin-right: 0;

    li {
      width: 100%;
      max-width: 380rem;

      article {
        width: 100%;
        padding: 16rem;
        padding-right: 16rem;
      }

      strong {
        position: relative;
        top: unset;
        right: unset;
        @include mixins.font(600, 30rem, 100%);
      }
    }
  }
}

.advantages_wrap {
  display: flex;
  justify-content: flex-end;
  gap: 80rem;
  margin-bottom: 40rem;
  margin-top: 300rem;
  position: relative;

  @include mixins.tablet {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20rem;
    margin-top: 0;
  }
}

.advantages_content {
  display: flex;
  flex-direction: column;
  gap: 30rem;
  align-items: flex-end;
  width: 700rem;

  div {
    h1 {
      width: 100%;
      text-align: right;
    }

    &:nth-child(1) {
      margin-top: auto;
    }
  }

  span {
    display: inline-block;
    text-align: right;
  }

  @include mixins.tablet {
    align-items: center;
    justify-content: center;
    gap: 20rem;
    width: 100%;

    div {
      h1 {
        text-align: center;
      }
    }

    span {
      text-align: center;
    }
  }
}

.advantages_image {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 800rem;
  height: auto;
  position: absolute;
  left: 0;
  top: -350rem;

  @include mixins.tablet {
    width: 100%;
    height: 350rem;
    position: relative;
    top: auto;
    left: auto;
  }
}

.advantages_list {
  position: relative;
  z-index: 10;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20rem;
  padding: 20rem 70rem;
  background: var(--bgLight);
  border-radius: inherit;

  li {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    article {
      display: flex;
      flex-direction: column;
      gap: 20rem;
      padding: 20rem 30rem;
      height: 100%;

      div {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 20rem;
        height: 100%;
      }
    }

    svg {
      width: 80rem;
      height: 125rem;
      fill: none;
      stroke: none;
    }
  }

  @include mixins.tablet {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 16rem;
    padding: 20rem;

    li {
      display: flex;
      align-content: stretch;
      height: auto;
      width: 100%;
      max-width: 305rem;

      article {
        width: 100%;
        padding: 16rem;
      }

      svg {
        width: 60rem;
        height: 60rem;
      }
    }
  }
}

.benefits_wrapper {
  margin-left: 70rem;
  margin-right: 70rem;
  display: flex;
  justify-content: space-between;
  gap: 100rem;

  @include mixins.tablet {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20rem;
    margin-left: 0;
    margin-right: 0;
  }
}

.benefits_slider {
  width: 930rem;
  height: 100%;

  @include mixins.tablet {
    width: 100%;
  }
}

.benefits_content {
  width: 600rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 30rem;

  button {
    margin-top: auto;
    margin-left: 0;
  }

  @include mixins.tablet {
    align-items: center;
    justify-content: center;
    gap: 20rem;
    width: 100%;

    h1 {
      text-align: center;
    }

    button {
      margin-right: unset;
    }
  }

  @include mixins.phone {
    h1 {
      @include mixins.font(400, 25rem, 125%);
    }
  }
}

.precedence_wrap {
  display: flex;
  justify-content: flex-end;
  gap: 40rem;
  position: relative;
  margin-top: 100rem;
  margin-bottom: 100rem;

  @include mixins.tablet {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    gap: 20rem;
    margin-top: 0;
    margin-bottom: 0;
  }
}

.precedence_content {
  width: 700rem;
  display: flex;
  flex-direction: column;
  gap: 30rem;
  align-items: flex-end;

  h1 {
    width: 100%;

    b {
      width: 100%;
      display: inline-block;
      text-align: right;
    }
  }

  span {
    display: inline-block;
    text-align: right;
  }

  @include mixins.tablet {
    align-items: center;
    justify-content: center;
    gap: 20rem;
    width: 100%;

    h1 {
      text-align: center;

      b {
        text-align: center;
      }
    }

    span {
      text-align: center;
    }
  }
}

.precedence_image {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  width: 1000rem;
  height: auto;
  bottom: -200rem;
  left: 0rem;
  position: absolute;

  @include mixins.tablet {
    bottom: auto;
    left: 20rem;
    width: 100%;
    height: 350rem;
    position: relative;
  }
}

.question_wrap {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 80rem;
  position: relative;

  @include mixins.tablet {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20rem;
  }
}

.question_image {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 600rem;
  height: auto;
  position: absolute;
  left: 250rem;
  bottom: -150rem;
}

.question_content {
  display: flex;
  flex-direction: column;
  gap: 30rem;
  align-items: flex-start;
  width: 550rem;

  @include mixins.tablet {
    align-items: center;
    justify-content: center;
    gap: 20rem;
    width: 100%;

    h1 {
      text-align: center;
    }

    button {
      margin-right: unset;
    }

    div {
      text-align: center;

      span {
        text-align: center;
      }
    }
  }
}

.question_link {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12rem 25rem;
  border-radius: 20rem;
  text-align: center;
  transition: all 0.15s ease-in-out;
  background: var(--primaryDef);
  color: var(--white);
  font-weight: 600;
  margin-top: 30rem;

  &:hover {
    color: var(--white);
    background: var(--primaryHov);
  }

  @include mixins.tablet {
    margin-top: 20rem;
  }
}

.question_form_wrapper {
  @include mixins.tablet {
    width: 100%;
    max-width: 500rem;
    margin-left: auto;
    margin-right: auto;
  }
}

.question_form {
  width: 900rem;
  padding: 60rem 40rem;

  @include mixins.tablet {
    width: 100%;
    padding: 20rem;
  }
}
