.select_head {
	width: 100%;
	padding: 0 15rem;
	padding-right: 8rem;
	height: 50rem;
	border-radius: 20rem;
	display: flex;
	justify-content: space-between;
	overflow: hidden;
	gap: 12rem;
	align-items: center;
	cursor: pointer;
	transition: all 0.15s ease-in-out;

	svg {
		pointer-events: none;
		cursor: pointer;
		width: 24rem;
		height: 24rem;
		transition: all 0.15s ease-in-out;
		fill: var(--text);
	}

	div {
		width: 100%;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	span {
		display: inline-block;
		transition: all 0.15s ease-in-out;
	}

	&:hover {
		svg {
			fill: var(--primaryHov);
		}

		span {
			color: var(--primaryHov);
		}
	}
}

.select_list {
	width: fit-content;
	position: absolute;
	z-index: 500;
	left: 50%;
	top: 70rem;
	display: flex !important;
	flex-direction: column !important;
	padding: 20rem 10rem !important;
	border-radius: 20rem !important;
	transition: all 0.15s ease-in-out !important;
	height: 0 !important;
	overflow: hidden !important;
	transform-origin: 0 0 !important;
	transform: translateX(-50%) rotateX(-90deg) !important;
	visibility: hidden !important;
	opacity: 0 !important;

	background: var(--bgLight);
	box-shadow: var(--shadowOuter);

	li {
		width: 100%;
		padding: 10rem 15rem;
		display: flex;
		align-items: center;
		text-align: center;
		border-radius: 10rem;
		justify-content: space-between;
		transition: all 0.15s ease-in-out;
		cursor: pointer;

		&:hover {
			background-color: var(--bgDark);
			box-shadow: var(--shadowInner);
			color: var(--primaryHov);
		}

		div {
			width: 100%;
			text-align: left;
		}

		span {
			text-align: center;
			display: inline-block;
		}
	}
}

.select_list_active {
	height: auto !important;
	transition: all 0.15s ease-in-out !important;
	opacity: 1 !important;
	visibility: visible !important;
	transform: translateX(-50%) rotateX(0deg) !important;
}
