.user_delete_button {
	width: fit-content !important;
	margin: 0 !important;

	button {
		background-color: var(--red);

		&:hover {
			background-color: var(--red);
		}
	}
}

.user_inactive_button {
	width: fit-content !important;
	margin: 0 !important;

	button {
		background-color: var(--orange);

		&:hover {
			background-color: var(--orange);
		}

		svg {
			stroke: var(--white);
			stroke-width: 2rem;
		}
	}
}

.user_active_button {
	width: fit-content !important;
	margin: 0 !important;

	button {
		background-color: var(--green);

		&:hover {
			background-color: var(--green);
		}

		svg {
			stroke: var(--white);
			stroke-width: 2rem;
		}
	}
}
