@import '@/styles/mixins.scss';

.dot_list {
	display: flex;
	flex-direction: column;
	gap: 10rem;
	text-align: left;

	li {
		position: relative;

		div {
			width: 100%;

			span {
				@include font(400, 20rem, 125%);
			}
		}
	}
}

.left {
	padding-left: 25rem;

	&::after {
		left: 0;
		right: auto;
		position: absolute;
		content: '★';
		top: -3rem;
		@include font(400, 20rem, 125%);
		color: var(--primaryDef);
	}

	div {
		text-align: left;
	}
}

.right {
	padding-right: 25rem;

	&::after {
		right: 0;
		left: auto;
		position: absolute;
		content: '★';
		top: -3rem;
		@include font(400, 20rem, 125%);
		color: var(--primaryDef);
	}

	div {
		text-align: right;
	}
}
