@use '@/styles/mixins.scss' as mixins;

.contact_form_wrapper {
	form {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 20rem;

		button {
			margin-right: 0;
			grid-column-start: 1;
			grid-column-end: 3;
		}

		label {
			&:nth-child(3),
			&:nth-child(4) {
				grid-column-start: 1;
				grid-column-end: 3;
			}

			textarea {
				height: 200rem;
			}
		}
	}

	@include mixins.tablet {
		form {
			display: flex;
			flex-direction: column;
			gap: 16rem;
			width: 100%;
			max-width: 500rem;
			margin-left: auto;
			margin-right: auto;

			button {
				grid-column-start: unset;
				grid-column-end: unset;
				margin-left: auto;
				margin-right: auto;
			}

			label {
				&:nth-child(3),
				&:nth-child(4) {
					grid-column-start: unset;
					grid-column-end: unset;
				}
			}
		}
	}
}
