@use '@/styles/mixins.scss' as mixins;

.bookmarks_delete_button {
  width: fit-content !important;
  margin: 0 !important;

  button {
    background-color: var(--red);

    @include mixins.desktop {
      &:hover:not(:disabled) {
        background: var(--red);
      }
    }
  }
}
