@use '@/styles/mixins.scss' as mixins;

.logo_wrapper {
  min-width: max-content;
  display: flex;
  align-items: center;
  justify-self: flex-start;
  padding: 0 5rem;

  img {
    width: 50rem;
    height: 50rem;
    margin-right: 20rem;
  }

  @include mixins.tablet {
    img {
      margin-right: 10rem;
    }
  }

  @include mixins.phone {
    padding: 0;

    img {
      margin-right: unset;
    }
  }
}

.logo_desc {
  position: relative;
  animation: visible 0.3s ease-in-out forwards;
}

@keyframes visible {
  0% {
    opacity: 0;
    x: -50rem;
    filter: 'blur(2rem)';
  }
  100% {
    opacity: 1;
    x: 0;
    filter: 'blur(0rem)';
  }
}
