@use '@/styles/mixins.scss' as mixins;

.position_wrapper {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 20rem 40rem;
  gap: 20rem 30rem;

  @include mixins.tablet {
    display: flex;
    flex-direction: column;
    padding: 20rem;
    gap: 20rem;
  }
}

.position_back {
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 3;

  @include mixins.tablet {
    grid-row-start: unset;
    grid-row-end: unset;
    grid-column-start: unset;
    grid-column-end: unset;
  }
}

.position_chart {
  width: 100%;
  height: 300rem;
}

.position_fields {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 40rem;

  ul {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30rem;

    li {
      position: relative;
      width: 100%;
      display: flex;
      align-items: center;
      gap: 30rem;
      transition: all 0.15s linear;
      transform: scale(1);
      opacity: 1;

      &:not(:last-child) {
        &::after {
          content: '';
          position: absolute;
          width: 100%;
          height: 1rem;
          background: var(--text);
          opacity: 0.25;
          bottom: -15rem;
        }
      }

      div:nth-child(2) {
        margin-left: auto;
        text-align: right;
      }
    }
  }
}

.position_fields_head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30rem;

  button {
    margin: 0;
  }
}
