@use '@/styles/mixins.scss' as mixins;

.root_desc {
	width: fit-content;
	@include mixins.font(400, 18rem, 120%);

	b,
	span {
		transition: all 0.15s ease-in-out;
	}

	b {
		font-weight: 800;
	}

	@include mixins.phone {
		@include mixins.font(400, 16rem, 120%);
	}
}
