@use '@/styles/mixins.scss' as mixins;

.timer_wrapper {
	width: 320rem;
	display: flex;
	align-items: center;
	gap: 6rem;
	justify-content: space-between;
	padding: 10rem 30rem;

	div:nth-child(2) {
		width: 130rem;
	}

	h4 {
		@include mixins.font(700, 18rem, 125%);
	}

	@include mixins.tablet {
		margin: 0 auto;
		width: 250rem;
		padding: 10rem 16rem;
		flex-direction: column;
		justify-content: center;
		text-align: center;
	}
}
