@import '@/styles/mixins.scss';

.sidebar_wrapper {
	display: flex;
	flex-direction: column;
	gap: 10rem;
	min-height: 100vh;
	height: 100%;
	width: 100rem;
	overflow: hidden;
	transition: all 0.15s ease-in-out;
	border-radius: 0 20rem 20rem 0;
	background: var(--bgLight);
	box-shadow: var(--shadowOuter);
}

.sidebar_open {
	width: 300rem;
}

.sidebar_header {
	width: 100%;
	padding: 20rem;
}

.sidebar_body {
	display: flex;
	flex-direction: column;
	gap: 16rem;
	padding: 40rem 20rem;
	overflow-y: scroll;
	overflow-x: hidden;
	scrollbar-width: none;
	border-radius: 40rem;
	margin-bottom: 40rem;
	min-height: 90rem;

	&::-webkit-scrollbar {
		width: 0;
		height: 0;
	}
}

.sidebar_footer {
	margin-top: auto;
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 16rem;
	padding: 0 20rem 20rem;
}
