.socials_wrapper {
	display: flex;
	flex-direction: row !important;
	align-items: center !important;
	gap: 16rem !important;
	padding-left: 0 !important;
	list-style: none !important;

	li {
		list-style: none !important;

		a {
			display: block;

			svg {
				width: 30rem;
				height: 30rem;
			}
		}
	}
}
