@use '@/styles/mixins.scss' as mixins;

.order_desc {
	display: flex;
	flex-direction: column;
	gap: 20rem;
	order: 2;

	textarea {
		height: 400rem;
		border-radius: 20rem;
		padding: 20rem;
	}

	button {
		margin-right: 0;
		margin-left: auto;
	}

	@include mixins.tablet {
		order: 1;
	}
}
