@use '@/styles/mixins.scss' as mixins;

.header_wrapper {
  width: 100%;
  padding: 20rem 40rem;
  display: flex;
  align-items: center;
  height: 110rem;
  justify-content: flex-end;
  border-radius: 0 0 20rem 20rem;
  background-color: var(--bgLight);
  box-shadow: var(--shadowInner);
  position: relative;

  @include mixins.tablet {
    height: auto;
    padding: 16rem;
    justify-content: space-between;
  }
}

.header_logo {
  div {
    padding: 0;
  }
}

.header_nav {
  margin: 0 auto;

  ul {
    display: flex;
    align-items: center;
    gap: 80rem;

    li {
      a {
        text-decoration: none;

        &:hover {
          color: var(--primaryHov);
        }
      }
    }
  }
}

.header_user_wrapper {
  height: 70rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 40rem;
  position: relative;

  @include mixins.tablet {
    margin-left: auto;
    margin-right: 4rem;
  }
}

.header_user {
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 24rem;
  padding: 10rem 40rem;

  div {
    display: flex;
    align-items: center;

    span {
      display: inline-block;
      max-width: 200rem;
      width: 200rem;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  @include mixins.tablet {
    padding: 10rem 20rem;
    gap: 16rem;

    div {
      span {
        max-width: 180rem;
        width: 180rem;
      }
    }
  }

  @include mixins.phone {
    div {
      span {
        max-width: 140rem;
        width: 140rem;
      }
    }
  }
}

.header_avatar {
  border-radius: 50%;
  overflow: hidden;
  width: 48rem;
  height: 48rem;

  img {
    object-fit: cover;
  }
}

.header_settings {
  display: flex;
  align-items: center;
  gap: 32rem;
  margin-left: auto;

  @include mixins.tablet {
    gap: 20rem;
  }
}

.header_settings_wrap {
  position: relative;
}

.header_settings_head {
  overflow: hidden;

  transition: all 0.15s ease-in-out;

  svg {
    pointer-events: none;
    width: 24rem;
    height: 24rem;
    transition: all 0.15s ease-in-out;
    fill: var(--text);
  }

  @include mixins.desktop {
    cursor: pointer;

    &:hover {
      svg {
        cursor: pointer;
        fill: var(--primaryHov);
      }
    }
  }

  @include mixins.tablet {
    svg {
      width: 20rem;
      height: 20rem;
    }
  }
}

.header_settings_head_active {
  svg {
    fill: var(--primaryHov);
  }
}

.header_settings_list {
  width: max-content;
  position: absolute;
  z-index: 1000;
  right: -174rem;
  top: 57rem;
  display: flex;
  gap: 15rem;
  flex-direction: column;
  padding-left: 10rem;
  padding-right: 10rem;
  border-radius: 20rem;
  background: var(--bgLight);
  box-shadow: var(--shadowOuter);

  li {
    width: 100%;
    transition: all 0.15s ease-in-out;
    cursor: default !important;

    article {
      background: var(--bgDark);
      box-shadow: var(--shadowInner);
      cursor: default !important;

      div {
        cursor: default !important;

        div {
          width: 100%;

          div {
            box-shadow: none;
            background: transparent;
            overflow: visible;

            &:nth-child(1) {
              width: 100%;
            }

            &:nth-child(2) {
              width: auto;
            }

            article {
              background: var(--bgLight);
              box-shadow: var(--shadowOuter);
            }
          }
        }
      }
    }

    svg {
      stroke-width: 1.5rem;
      stroke: var(--text);
      transform: scale(1) !important;
    }

    span {
      letter-spacing: 0 !important;
      color: var(--text) !important;
    }

    &:first-child {
      margin-top: 20rem;
    }

    &:last-child {
      margin-bottom: 20rem;
    }

    ul {
      li {
        &:first-child,
        &:last-child {
          margin-top: unset !important;
          margin-bottom: unset !important;
        }
      }
    }
  }

  @include mixins.tablet {
    top: 45rem;
    right: -140rem;

    li {
      a {
        cursor: default !important;
      }
    }
  }
}
