@use '@/styles/mixins.scss' as mixins;

.user_delete_button {
  width: fit-content !important;
  margin: 0 !important;

  button {
    background-color: var(--red);

    @include mixins.desktop {
			&:hover:not(:disabled) {
				background: var(--red);
			}
		}
  }
}

.user_inactive_button {
  width: fit-content !important;
  margin: 0 !important;

  button {
    background-color: var(--orange);

    &:hover {
      background-color: var(--orange);
    }

    svg {
      stroke: var(--white);
      stroke-width: 2rem;
    }
  }
}

.user_active_button {
  width: fit-content !important;
  margin: 0 !important;

  button {
    background-color: var(--green);

    &:hover {
      background-color: var(--green);
    }

    svg {
      stroke: var(--white);
      stroke-width: 2rem;
    }
  }
}

.calendar_chart_wrapper {
  display: flex;
  flex-direction: column;
  padding: 20rem;
  width: 100%;
  height: 300rem;

  @include mixins.tablet {
    gap: 20rem;
    padding: 20rem;
    height: 280rem;
  }
}

.calendar_chart {
  width: 100%;
  height: 300rem;

  svg {
    pointer-events: all !important;
    height: 100%;
  }

  @include mixins.tablet {
    overflow-y: hidden;
    overflow-x: scroll;
    height: 280rem;
    scrollbar-width: none;

    &::-webkit-scrollbar {
      display: none;
    }

    svg {
      pointer-events: none !important;
    }
  }
}

.calendar_chart_button {
  width: 100%;

  button {
    margin: 0;
    margin-left: auto;
  }
}

.calendar_chart_tooltip {
  background: var(--bgLight);
  box-shadow: var(--shadowOuter);
  border-radius: 14rem;
  padding: 16rem;
  display: flex;
  flex-direction: column;
  gap: 10rem;
  width: max-content;
}

.calendar_chart_legend {
  display: flex;
  align-items: center;
  gap: 20rem;
  width: fit-content;
  margin: 0 auto;

  @include mixins.tablet {
    flex-wrap: wrap;
    justify-content: center;
    gap: 14rem;
  }
}

.calendar_chart_legend_item {
  display: flex;
  align-items: center;
  gap: 16rem;

  label {
    width: 14rem;
    height: 14rem;
  }
}

.calendar_chart_legend_colors {
  display: flex;
  align-items: center;
  gap: 2rem;
}
