@mixin font($weight, $size, $height) {
	font-weight: $weight;
	font-size: $size;
	line-height: $height;
}

@mixin desktop {
	@media (min-width: 768px) {
		@content;
	}
}

@mixin tablet {
	@media (max-width: 767px) {
		@content;
	}
}

@mixin phone {
	@media (max-width: 459px) {
		@content;
	}
}
